<div class="mx-24">
  <div class=" grid grid-cols-2 gap-8">
    <div class="card w-full bg-base-100 col-span-1">
      <img src="https://media.timeout.com/images/106083882/1024/576/image.webp" alt="Shoes" class="h-80" />
      <div class="py-5 gap-3 flex flex-col">
        <h2 class="text-4xl font-bold">The most exciting city trends around the world for 2024</h2>
        <p class="text-md">From reimagined bathhouses in Tokyo to dinner theatre in Singapore, Time Out editors share
          2024’s most exciting
          global cultural trends.</p>
      </div>
    </div>
    <div class="col-span-1">
      <div class="grid grid-cols-1 grid-rows-3 gap-6">
        <div class="flex gap-2 items-start w-full bg-base-100">
          <img src="https://media.timeout.com/images/105658530/1024/576/image.webp" alt="Shoes" class="h-full w-2/5" />
          <div class="gap-1 flex flex-col">
            <h2 class="text-lg font-bold">The most exciting city trends around the world for 2024</h2>
            <p class="text-xs">From reimagined bathhouses in Tokyo to dinner theatre in Singapore, Time Out editors
              share
              2024’s most exciting
              global cultural trends.</p>
          </div>
        </div>
        <div class="flex gap-2 items-start w-full bg-base-100">
          <img src="https://media.timeout.com/images/105658530/1024/576/image.webp" alt="Shoes" class="h-full w-2/5" />
          <div class="gap-1 flex flex-col">
            <h2 class="text-lg font-bold">The most exciting city trends around the world for 2024</h2>
            <p class="text-xs">From reimagined bathhouses in Tokyo to dinner theatre in Singapore, Time Out editors
              share
              2024’s most exciting
              global cultural trends.</p>
          </div>
        </div>
        <div class="flex gap-2 items-start w-full bg-base-100">
          <img src="https://media.timeout.com/images/105658530/1024/576/image.webp" alt="Shoes" class="h-full w-2/5" />
          <div class="gap-1 flex flex-col">
            <h2 class="text-lg font-bold">The most exciting city trends around the world for 2024</h2>
            <p class="text-xs">From reimagined bathhouses in Tokyo to dinner theatre in Singapore, Time Out editors
              share
              2024’s most exciting
              global cultural trends.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col w-full border-opacity-50">
    <div class="divider text-black text-2xl font-extrabold border-black">Trending around the world</div>
  </div>
</div>
