<div class="mx-24">
  <div class=" grid grid-cols-2 gap-8 mb-12 ">
    <div class="card w-full bg-base-100 col-span-1 rounded-none">
      <img src="https://media.timeout.com/images/106083882/1024/576/image.webp" alt="Shoes" />
      <div class="py-5 gap-3 flex flex-col">
        <a href="{{ "/blog/" | relURL }}" class="text-4xl font-extrabold text-black hover:underline">The most exciting
          city trends around the world
          for 2024</a>
        <p class="text-md">From reimagined bathhouses in Tokyo to dinner theatre in Singapore, Time Out editors share
          2024’s most exciting
          global cultural trends.</p>
      </div>
    </div>
    <div class="col-span-1">
      <div class="grid grid-cols-1 gap-6">
        <div class="flex gap-5 items-start w-full bg-base-100">
          <img src="https://media.timeout.com/images/105658530/1024/576/image.webp" alt="Shoes"
            class="h-[150px] w-[170px]" />
          <div class="gap-1 flex flex-col">
            <a href="{{ "/blog/" | relURL }}" class="text-xl font-extrabold text-black hover:underline">The most
              exciting city trends around the world
              for 2024</a>
            <p class="text-sm">From reimagined bathhouses in Tokyo to dinner theatre in Singapore, Time Out editors
              share
              2024’s most exciting
              global cultural trends.</p>
          </div>
        </div>
        <div class="flex gap-5 items-start w-full bg-base-100">
          <img src="https://media.timeout.com/images/105658530/1024/576/image.webp" alt="Shoes"
            class="h-[150px] w-[170px]" />
          <div class="gap-1 flex flex-col">
            <a href="{{ "/blog/" | relURL }}" class="text-xl font-extrabold text-black hover:underline">The most
              exciting city trends around the world
              for 2024</a>
            <p class="text-sm">From reimagined bathhouses in Tokyo to dinner theatre in Singapore, Time Out editors
              share
              2024’s most exciting
              global cultural trends.</p>
          </div>
        </div>
        <div class="flex gap-5 items-start w-full bg-base-100">
          <img src="https://media.timeout.com/images/105658530/1024/576/image.webp" alt="Shoes"
            class="h-[150px] w-[170px]" />
          <div class="gap-1 flex flex-col">
            <a href="{{ "/blog/" | relURL }}" class="text-xl font-extrabold text-black hover:underline">The most
              exciting city trends around the world
              for 2024</a>
            <p class="text-sm">From reimagined bathhouses in Tokyo to dinner theatre in Singapore, Time Out editors
              share
              2024’s most exciting
              global cultural trends.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-3">
    <div class=" col-span-2 justify-center items-center flex flex-col">
      <div class="divider before:border-4 after:border-4 text-black text-3xl font-extrabold ">
        Trending around the world
      </div>
      <div class="grid grid-cols-1 grid-rows-3 gap-8 mt-8 divide-y-2 divide-slate-400/25">
        <div class="flex gap-2 items-start w-full bg-base-100 pt-8">
          <img src="https://media.timeout.com/images/105658530/1024/576/image.webp" alt="Shoes" class="h-full w-1/3" />
          <div class="gap-3 flex flex-col">
            <a href="{{ "/blog/" | relURL }}" class="text-2xl font-extrabold text-black hover:underline">The most
              exciting city trends around the
              world
              for 2024</a>
            <p class="text-lg">From reimagined bathhouses in Tokyo to dinner theatre in Singapore, Time Out editors
              share
              2024’s most exciting
              global cultural trends.</p>
          </div>
        </div>
        <div class="flex gap-2 items-start w-full bg-base-100 pt-8">
          <img src="https://media.timeout.com/images/105658530/1024/576/image.webp" alt="Shoes" class="h-full w-1/3" />
          <div class="gap-3 flex flex-col">
            <a href="{{ "/blog/" | relURL }}" class="text-2xl font-extrabold text-black hover:underline">The most
              exciting city trends around the
              world
              for 2024</a>
            <p class="text-lg">From reimagined bathhouses in Tokyo to dinner theatre in Singapore, Time Out editors
              share
              2024’s most exciting
              global cultural trends.</p>
          </div>
        </div>
        <div class="flex gap-2 items-start w-full bg-base-100 pt-8">
          <img src="https://media.timeout.com/images/105658530/1024/576/image.webp" alt="Shoes" class="h-full w-1/3" />
          <div class="gap-3 flex flex-col">
            <a href="{{ "/blog/" | relURL }}" class="text-2xl font-extrabold text-black hover:underline">The most
              exciting city trends around the
              world
              for 2024</a>
            <p class="text-lg">From reimagined bathhouses in Tokyo to dinner theatre in Singapore, Time Out editors
              share
              2024’s most exciting
              global cultural trends.</p>
          </div>
        </div>
      </div>
      <button
        class=" text-black font-bold p-3 w-80 mt-10 bg-white border-2 border-black hover:text-white hover:bg-black">More
        Country News</button>
    </div>
  </div>

  <div class="mt-14 flex flex-col justify-center items-center">
    <div class="divider before:border-4 after:border-4 text-black text-3xl font-extrabold">
      Discover Time Out Market
    </div>
    <div class="grid grid-cols-2 gap-8 mt-14">
      <div class="card w-full bg-base-100 col-span-1 rounded-none">
        <img src="https://media.timeout.com/images/106083882/1024/576/image.webp" alt="Shoes" />
        <div class="py-5 gap-3 flex flex-col">
          <a href="{{ "/blog/" | relURL }}" class="text-4xl font-extrabold text-black hover:underline">The most
            exciting city trends around the world
            for 2024</a>
          <p class="text-md">From reimagined bathhouses in Tokyo to dinner theatre in Singapore, Time Out editors share
            2024’s most exciting
            global cultural trends.</p>
        </div>
      </div>
      <div class="card w-full bg-base-100 col-span-1 rounded-none">
        <img src="https://media.timeout.com/images/106083882/1024/576/image.webp" alt="Shoes" />
        <div class="py-5 gap-3 flex flex-col">
          <a href="{{ "/blog/" | relURL }}" class="text-4xl font-extrabold text-black hover:underline">The most
            exciting city trends around the world
            for 2024</a>
          <p class="text-md">From reimagined bathhouses in Tokyo to dinner theatre in Singapore, Time Out editors share
            2024’s most exciting
            global cultural trends.</p>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="grid grid-cols-2 gap-8">
      <div class="flex gap-2 flex-row-reverse items-start w-full bg-base-100 pt-8">
        <img src="https://media.timeout.com/images/105658530/1024/576/image.webp" alt="Shoes" class="h-full w-1/3" />
        <div class="gap-3 flex flex-col">
          <a href="{{ "/blog/" | relURL }}" class="text-2xl font-extrabold text-black hover:underline">The most
            exciting city trends around the
            world
            for 2024</a>
          <p class="text-lg">From reimagined bathhouses in Tokyo to dinner theatre in Singapore, Time Out editors
            share
            2024’s most exciting
            global cultural trends.</p>
        </div>
      </div>
      <div class="flex gap-2 flex-row-reverse items-start w-full bg-base-100 pt-8">
        <img src="https://media.timeout.com/images/105658530/1024/576/image.webp" alt="Shoes" class="h-full w-1/3" />
        <div class="gap-3 flex flex-col">
          <a href="{{ "/blog/" | relURL }}" class="text-2xl font-extrabold text-black hover:underline">The most
            exciting city trends around the
            world
            for 2024</a>
          <p class="text-lg">From reimagined bathhouses in Tokyo to dinner theatre in Singapore, Time Out editors
            share
            2024’s most exciting
            global cultural trends.</p>
        </div>
      </div>
      <div class="flex gap-2 flex-row-reverse items-start w-full bg-base-100 pt-8">
        <img src="https://media.timeout.com/images/105658530/1024/576/image.webp" alt="Shoes" class="h-full w-1/3" />
        <div class="gap-3 flex flex-col">
          <a href="{{ "/blog/" | relURL }}" class="text-2xl font-extrabold text-black hover:underline">The most
            exciting city trends around the
            world
            for 2024</a>
          <p class="text-lg">From reimagined bathhouses in Tokyo to dinner theatre in Singapore, Time Out editors
            share
            2024’s most exciting
            global cultural trends.</p>
        </div>
      </div>
      <div class="flex gap-2 flex-row-reverse items-start w-full bg-base-100 pt-8">
        <img src="https://media.timeout.com/images/105658530/1024/576/image.webp" alt="Shoes" class="h-full w-1/3" />
        <div class="gap-3 flex flex-col">
          <a href="{{ "/blog/" | relURL }}" class="text-2xl font-extrabold text-black hover:underline">The most
            exciting city trends around the
            world
            for 2024</a>
          <p class="text-lg">From reimagined bathhouses in Tokyo to dinner theatre in Singapore, Time Out editors
            share
            2024’s most exciting
            global cultural trends.</p>
        </div>
      </div>
    </div>
    <button class=" text-black font-bold p-3 w-72 mt-12 bg-white border-2 border-black hover:text-white hover:bg-black">
      See More</button>
  </div>

  {{/*  Data Maped Section  */}}

  <div class="mt-14 grid grid-cols-3">
    <div class=" flex flex-col justify-center items-center col-span-2">
      <div class="divider before:border-4 after:border-4 text-black text-3xl font-extrabold">
        Top Travel Inspiration
      </div>
      <div class="grid grid-cols-2 gap-8 mt-14">
        {{ range .Site.Data.blogdata }}
        <div class="card w-full bg-base-100 col-span-1 rounded-none">
          <img src="https://media.timeout.com/images/106083882/1024/576/image.webp" alt="Shoes" class=" h-72" />
          <div class="py-5 gap-3 flex flex-col">
            <a href="{{ "/blog/" | relURL }}" class="text-2xl font-extrabold text-black hover:underline">{{ .title }}</a>
            <p class="text-md">From reimagined bathhouses in Tokyo to dinner theatre in Singapore, Time Out editors
              share
              2024’s most exciting
              global cultural trends.</p>
          </div>
        </div>
        {{ end }}
      </div>
      <button
        class=" text-black font-bold p-3 w-80 mt-12 bg-white border-2 border-black hover:text-white hover:bg-black">
        More Time Out Travel Tips</button>
    </div>
  </div>

  {{/*  Data Maped Section End  */}}

  <div class="mt-14 flex flex-col justify-center items-center">
    <div class="divider before:border-4 after:border-4 text-black text-3xl font-extrabold">
      Explore Asia
    </div>
    <div class="grid grid-cols-4 gap-8 mt-14">
      <div class="card w-full bg-base-100 col-span-1 rounded-none">
        <img src="https://media.timeout.com/images/106083882/1024/576/image.webp" alt="Shoes" class=" h-54" />
        <div class="py-5 gap-3 flex flex-col">
          <a class="text-2xl font-extrabold text-black hover:underline">Singapore</a>
          <p class="text-md">From reimagined bathhouses in Tokyo to dinner theatre in Singapore</p>
        </div>
      </div>
      <div class="card w-full bg-base-100 col-span-1 rounded-none">
        <img src="https://media.timeout.com/images/106083882/1024/576/image.webp" alt="Shoes" class="h-54" />
        <div class="py-5 gap-3 flex flex-col">
          <a class="text-2xl font-extrabold text-black hover:underline">Thailand</a>
          <p class="text-md">From reimagined bathhouses in Tokyo to dinner theatre in Singapore</p>
        </div>
      </div>
      <div class="card w-full bg-base-100 col-span-1 rounded-none">
        <img src="https://media.timeout.com/images/106083882/1024/576/image.webp" alt="Shoes" class="h-54" />
        <div class="py-5 gap-3 flex flex-col">
          <a class="text-2xl font-extrabold text-black hover:underline">Tokyo</a>
          <p class="text-md">From reimagined bathhouses in Tokyo to dinner theatre in Singapore</p>
        </div>
      </div>
      <div class="card w-full bg-base-100 col-span-1 rounded-none">
        <img src="https://media.timeout.com/images/106083882/1024/576/image.webp" alt="Shoes" class="h-54" />
        <div class="py-5 gap-3 flex flex-col">
          <a class="text-2xl font-extrabold text-black hover:underline">Hongkong</a>
          <p class="text-md">From reimagined bathhouses in Tokyo to dinner theatre in Singapore</p>
        </div>
      </div>
    </div>
    <button class=" text-black font-bold p-3 w-72 mt-12 bg-white border-2 border-black hover:text-white hover:bg-black">
      See More</button>
  </div>

</div>
