<div class="grid grid-cols-2 justify-center gap-8 items-center bg-slate-100 w-full mt-5 py-6 px-40">
  <div class="inline-block">
    <div class="gap-3 flex flex-col">
      <h2 class="text-2xl font-bold text-black hover:underline">Get us in your inbox</h2>
      <p class="text-lg">Sign up to our newsletter for the latest and greatest from your city and beyond</p>
    </div>
  </div>
  <div class="m-3 py-5 px-5 inline-block">
    <div class="flex gap-4 mb-3">
      <input class="input min-w-[20rem] input-bordered text-black" placeholder="Enter Your Email" />
      <button class="shadow-lg bg-red-600 text-white font-bold text-sm rounded-lg px-3 py-2">Subscribe</button>
    </div>
    <label class="text-sm text-black mt-3 block">
      <span class="">By entering your email address you agree to our Terms of Use and Privacy Policy and consent to
        receive emails from Time Out about news, events, offers and partner promotions.</span>
    </label>
  </div>
</div>
